*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#header{
    width: 100%;
    height: 100vh;

}

.logo{
    height: 180px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.visual{
    position: absolute;
    top:25%;
    left: 45%;
    list-style: none;
    font-size: 25px;
}

.visual li a{
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
}

.visual li a:hover{
    color:aquamarine;
}

.art{
    position: relative;
    display: flex;
    list-style-type: none;
    top: 90px;
    justify-content:space-around ;
    margin: 0px;
    padding: 0px;   
}

.art li a{
    text-decoration: none;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.art li a:hover{
    color: aquamarine;
    transition: 0.2s;
}

.flexbody{
    text-align: center;
    margin-top: 95px;
   


}

.flex-item img{
   
    width: 400px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
  
}

.flex-item img:hover {
    transform: scale(2.2);
    cursor: pointer;
  }
